.idea/
getting-started-with-eel-master/.idea/
getting-started-with-eel-master/QRCode.spec
getting-started-with-eel-master/app_sc.spec
getting-started-with-eel-master/barcode.icns
getting-started-with-eel-master/build/
getting-started-with-eel-master/dist/
getting-started-with-eel-master/ui_sample.png
getting-started-with-eel-master/web/
CH/
pythonProject1/
git1/
